.headerLogo {
    display: flex;
    align-items: end;
    width: auto;
    height: auto;
}

.circle {
    height: 37px;
    width: 37px;
    background-color: #5094f2;
    border-radius: 50%;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    padding: 3px;

    &:hover {
        text-decoration: underline;
        text-decoration-color: #5094f2;
        text-decoration-thickness: 2px;
    }
}

h1 {
    margin: 0 12px;
}

img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 8px;
}

input {
    display: none;
}

@media (max-width: 425px) {

    .headerLogo {
        justify-content: center;
        font-size: larger;
    }


    .circle {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    
    h1 {
        font-size: larger;
    }
    
    li {
        font-size: small;
    }
    

    .collapseMenu {
        background-color: #5094f2;
        padding: 0px 30px;
        padding-bottom: 10px;
    }
    
    .collapseMenu ul {
        list-style-type: none;
        padding: 0;
    }
    
    .collapseMenu a {
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    
    .collapseMenu label {
        display: block;
        padding: 10px 0 10px 10px;
    }

    input #checkBox {
        background-image: url(../media/plus-3-256.png);
    }
    
    
    .menuContent {
        max-height: 0;
        overflow: hidden;
    }

    input:checked ~ .menuContent {
        max-height: 100%;
    }

    input {
        background-color: #5094f2;
    }
}